

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo de la página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #99bec5;
    color: #333;
}

/* Estilo para la sección de productos */
.masvendidos {
    text-align: center;
    padding: 50px 20px;
    background-color: #6cd1e8ca;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.masvendidos h2 {
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Estilo para los productos */
.productos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px; /* Asegura que los productos no se extiendan demasiado en pantallas grandes */
    margin: 0 auto; /* Centra los productos */
}

.producto {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin-bottom: 20px; /* Asegura que haya espacio entre las filas de productos */
}

.producto img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.producto h3 {
    font-size: 1.8rem;
    color: #2c3e50;
    margin-bottom: 10px;
}

.producto p {
    font-size: 1rem;
    color: #7f8c8d;
    margin-bottom: 15px;
}

.precio {
    font-size: 1.4rem;
    font-weight: bold;
    color: #e74c3c;
}

/* Efecto al pasar el mouse sobre un producto */
.producto:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

/* Estilos para la sección de contenido */
.contenido {
    text-align: center;
    padding: 50px 20px;
    background-color: #ecf0f1;
}

.contenido h2 {
    font-size: 2.2rem;
    color: #34495e;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.contenido p {
    font-size: 1.1rem;
    color: #7f8c8d;
    line-height: 1.5;
}

/* Imagen separadora */
img {
    width: 100%;
    height: auto;
    display: block;
    margin: 40px 0;
}

/* Mejoras en la visualización de la página en dispositivos pequeños */
@media (max-width: 768px) {
    .productos {
        flex-direction: column;
        align-items: center;
        gap: 30px; /* Aumenta el espacio entre los productos cuando están apilados */
    }
    .producto {
        width: 90%; /* Asegura que los productos no sean demasiado grandes en pantallas pequeñas */
    }

}




